/* 
colors =>

primary color    #131c29
secondary color  #ff8901
link color       #596573
top gradient     #33597e
bottom gradient  #0f1721
footer           #0b1016
button color     #213349
date 1           #be8442
date 2           #be6142
date 3           #bd425f

fonts =>

font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/


:root {
    --prim: #131c29;
    --sec: #ff8901;
    --btnColor: #213349;
    --footerColor: #0b1016;
    --primFont: 'Oswald', sans-serif;
    --secFont: 'Roboto', sans-serif;
}

* {box-sizing: border-box;}

body {
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: color 0.7s ease;
}

a:hover {
    color: var(--sec);
}



.header {
    margin: 0;
    padding: 0;
    display:flex;
    align-content: center;
    justify-content:center;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.inner {
    display: flex;
    width: 100 %;
    
}

.top-section {
    display: inline;
    display: flex;
    padding: 10px 0;
    width: 100%;
    background-color: var(--prim);
    
    
}

.top-section .inner {
    font-family: var(--secFont);
    font-size: 10px;
    text-transform: uppercase;
    margin-left: 100px;
}

.top-nav {
    margin: 0;
    
    display: flex;
    
}

.top-list {
    margin: 0;
    padding: 0;
    display:flex;    
    
    margin-left: 550px;
    
    
}

.top-list-item {
    margin: 1px;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
    border-right: 1px solid #596573;
    list-style-type:none
    ;

}

.top-list-item:last-child {
    border: none;
}

.demolink, .top-list-item a {
    color: #596573;
    margin: px;
}

.top-list-item a:hover {

    color: #ff8901;
    

}

.logo {
    justify-content: flex-start;
    display: flex;
    margin-right: 300px;
    
    

}

.bottom-nav {
    margin-top: 40px;
    padding: 0;
    width: 400px;
    
}


.bottom-list {
    padding-left: 0;
    list-style-type: none;
    text-align: right;
}

.bottom-list-item {
    display: inline;
    padding: 10px 15px;
    background-color: var(--prim);
    font-family: var(--primFont);
    text-transform: uppercase;
    border-radius: 5px;
    
    
}

.bottom-list-item:hover {
    background-color: var(--sec);

}

.bottom-list-item a  {
    color: white;
}

.list-link:hover {
    color: white;
}

.hero-img {
    width: 100%;
    border-radius: 10px;
    
}

.sliders {
    margin: 20px auto;
    width: 150px;
    height: 25px;
    
}

.slider {
    margin-right: 2px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightgray;

}
.slider:hover {
    background-color: #ff8901;
}


.content-section { 
    border: 1px solid grey;
}

.content {
    width: calc(100% / 3);
    
    border: 1px solid blue;
    font-family: var(--primFont);
}

.content-header {
    color: var(--prim);
    font-size: 48px;
    font-family: var(--prim);
    text-transform: uppercase;
}

.strong, .stable {
    padding-left: 15px;


}

.smart {
margin:auto
}

.content-img {width: 96%;
}
.content-text {width: 96%
}

.content-btn {
    padding: 10px 16px;
    background-color: #213349;
    border: none;
    border-radius: 6px;
    color: white;
    text-transform: uppercase;
    font-family: var(--primFont);
    font-weight: bold;
}

.top-footer {
    background: rgb(53,85,123);
    background: radial-gradient(circle at 50% -50%, rgba(53,85,123,1) 0%, rgba(20,32,46,1) 50%, rgba(14,23,32,1) 100%);
}

.services-div, .opp-div, .news-div {
    width: calc(100% /3);
    
}


.footer-header {
            color: white;
            font-size: 36px;
            font-family: var(--primFont);
            text-transform: uppercase;
            font-weight: 400px;
}



.services-list {
    margin: 0 0 0 10px;
    margin-top: 8px;
    padding: 0;
    list-style-image: url('../media/cog.png');
}

.services-div .content-btn {
    margin-top: 40px;
}

.services-list a {
    color: white;
    font-family: var(--primFont);
    
}

.opp-list {
    margin-top: 4px;
    margin: 0 0 0 10px;
    padding: 0;
    list-style-image: url('../media/chat.png');
    margin-top: 8px;
    margin-right: 40px;
}

.opp-list .opp-header  {
    color: white;
    font-family: var(--primFont);
    font-weight: 10;
    font-size: 16px;
}

.opp-list .opp-text {
    
    color:#596573;
    font-family: var(--primFont);
}

.opp-div .content-btn {
    margin-top: 47px;
}

.news-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.date-div {
    float: left;
    width: 75px;
    background-color: orange;
    height: 75px;
    text-align: center;
    border-radius: 8px;
    

}

.date-div span {
    display: block;
    color: white;
    font-family: var(--primFont);
}

.date {
    padding-top: 8px;
    font-size: 30px;
}

.month {font-family: var(--primFont);
        text-transform: uppercase;
        line-height: 6px;
}

.info-div {
    width: calc(100% - 80px);
    margin-left: auto;
    font-family: var(--primFont);
}

.info-div a {
    color: white;
}

.news-header {
    margin: 0;
    
}

.opp-text {
    margin:0;
    color:#596573;
    
}

.news-item {
    margin-top: 10px;
}

#date1 {
    background-color: #be8442;
}

#date2 {
    background-color: #be6142;
}
.date3 {background-color: #bd425f;
}

.bottom-footer {
    background-color: #0b1016;
}


.content-section {
    margin-bottom: 20px;
}

.clear {
    clear: both;
}


    
    